/* Logo container on the left side */
.logo-container {
    position: absolute;
    top: 8px;
    /* Adjust vertical positioning */
    left: 18px;
    /* Adjust horizontal positioning */
    width: 8vh;
    height: 8vh;
}

/* Logo styles */

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 2s linear;
    }
}
.App-logo {
    width: 100%;
    height: 100%;
    display: block;
}

/* Container for search bar */
.search-container {
    position: absolute;
    /* Allows precise positioning */
    top: 10px;
    /* Adjust vertical position as needed */
    left: 100px;
    /* Adjust horizontal position as needed */
    width: 100%;
    /* Set to fill available width */
    max-width: 600px;
    /* Set a maximum width for the search bar */
}

/* Search bar */
.search-bar {
    background-color: #1c1e26;
    border-radius: 12px;
    padding: 13px;
    /* Adjust padding for height */
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    width: 89vh;
    /* Ensure it fills the container */
}

/* Input field */
.search-input {
    width: 84vh;
    border: none;
    outline: none;
    background: transparent;
    color: #ffffff;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 8px;
}

/* Placeholder color */
.search-input::placeholder {
    color: #aaa;
    font-style: italic;
}