/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  aspect-ratio: 1;
  outline: 2px solid #fff;
  background: radial-gradient(farthest-side, #000 90%, #0000) 0 0/8px 8px
      no-repeat,
    conic-gradient(from 90deg at 10px 10px, #0000 90deg, #fff 0),
    conic-gradient(from -90deg at 30px 30px, #0000 90deg, #fff 0);
  animation: l3 1.5s infinite;
}
@keyframes l3 {
  0% {
    background-position: 0 0;
    clip-path: circle(15px at left 4px top 4px);
  }
  25% {
    background-position: 100% 0;
    clip-path: circle(15px at right 4px top 4px);
  }
  50% {
    background-position: 100% 100%;
    clip-path: circle(15px at right 4px bottom 4px);
  }
  75% {
    background-position: 0 100%;
    clip-path: circle(15px at left 4px bottom 4px);
  }
  100% {
    background-position: 0 0;
    clip-path: circle(15px at left 4px top 4px);
  }
}

.forecast-slider .slider-wrapper {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden; /* Hide vertical scrollbar */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: grey transparent; /* For Firefox */
}

.forecast-slider .slider-wrapper::-webkit-scrollbar {
  height: 5px; /* Thickness of the scrollbar */
}

.forecast-slider .slider-wrapper::-webkit-scrollbar-thumb {
  background-color: grey; /* Scrollbar color */
  border-radius: 100px; /* Rounded corners */
}

.forecast-slider .slider-wrapper::-webkit-scrollbar-track {
  background-color: transparent; /* Background of scrollbar */
}

.forecast-slider .slider-wrapper {
  scroll-behavior: smooth;
}

.hourloader {
  width: 70px;
  aspect-ratio: 2;
  background: radial-gradient(farthest-side, #000 90%, #0000) 0 0/8px 8px,
    linear-gradient(#fff 0 0) 100% 0/30px 10px,
    linear-gradient(#fff 0 0) 0 100%/30px 10px,
    repeating-linear-gradient(90deg, #fff 0 10px, #0000 0 30px);
  background-repeat: no-repeat;
  animation: l6 2s infinite;
  position: absolute;
  top: 58vh; /* Distance from the top */
  right: 158vh; /* Distance from the right */
}

@keyframes l6 {
  0% {
    background-position: left 1px bottom 1px, 100% 0, 0 100%, 0 0;
  }
  12.5% {
    background-position: left 50% bottom 1px, 100% 0, 0 100%, 0 0;
  }
  25% {
    background-position: left 50% top 1px, 100% 0, 0 100%, 0 0;
  }
  37.5% {
    background-position: right 1px top 1px, 100% 0, 0 100%, 0 0;
  }
  50% {
    background-position: right 1px bottom 1px, 0 0, 100% 100%, 0 0;
  }
  62.5% {
    background-position: right 50% bottom 1px, 0 0, 100% 100%, 0 0;
  }
  75% {
    background-position: right 50% top 1px, 0 0, 100% 100%, 0 0;
  }
  87.5% {
    background-position: left 1px top 1px, 0 0, 100% 100%, 0 0;
  }
  100% {
    background-position: left 1px bottom 1px, 100% 0, 0 100%, 0 0;
  }
}
